{% trans_default_domain 'netgen_information_collection_admin' %}

{% extends netgen_information_collection_admin.pageLayoutTemplate %}

{% block content %}

    {% include "@NetgenInformationCollection/admin/flash_messages.html.twig" %}

    {#<a class="tags-btn" href="{{ path('netgen_information_collection.route.admin.overview') }}">#}
    <a class="tags-btn" href="{{ app.request.headers.get('referer') }}">
        {{ 'netgen_information_collection_admin_back'|trans }}
    </a>

    <h1>{{ 'netgen_information_collection_admin_collection_list_title'|trans({'%content_name%': ez_content_name(content), '%count%': objects.count}) }}</h1>
    {% if objects is not empty %}

        {% set search_text = app.request.query.get('searchText', '') %}

        <form name="tag_create" method="get" action="{{ path('netgen_information_collection.route.admin.collection_list_search', {'contentId':content.id}) }}">
            <div class="ng-tags-input">
                <label for="collection-search">
                    {{ 'netgen_information_collection_admin_collection_search_collections'|trans }}
                </label>
                <input id="collection-search" type="text" name="searchText" value="{{ search_text }}">
                <input type="submit" value="Search" class="tags-btn">
            </div>
        </form>

        {% if search_text %}
            <p>
                Displaying results({{ objects.count }}) for "{{ search_text }}"
            </p>
        {% endif %}

        <form method="post" action="{{ path('netgen_information_collection.route.admin.handle_collection_list') }}">
            <input type="hidden" name="ContentId" value="{{ content.id }}">
            <table>
                <thead>
                <tr>
                    {#<th>{{ 'netgen_information_collection_admin_collection_select_all'|trans }}</th>#}
                    <th></th>
                    <th>{{ 'netgen_information_collection_admin_collection_creator'|trans }}</th>
                    <th>{{ 'netgen_information_collection_admin_collection_created'|trans }}</th>
                    <th>{{ 'netgen_information_collection_admin_collection_modified'|trans }}</th>
                    <th>{{ 'netgen_information_collection_admin_collection_collection_id'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for object in objects %}
                    <tr>
                        <td>
                            <input id="{{ object.object.id }}" name="CollectionId[]" value="{{ object.object.id }}" title="Select collections for removal." type="checkbox">
                            <label for="{{ object.object.id }}">
                            </label>
                        </td>
                        <td>
                            {{ object.user.name }}
                        </td>
                        <td>
                            {{ object.object.created|date("Y.m.d H:i") }}
                        </td>
                        <td>
                            {{ object.object.modified|date("Y.m.d H:i") }}
                        </td>
                        <td class="number" align="right">
                            <a href="{{ path("netgen_information_collection.route.admin.view", {"collectionId": object.object.id}) }}">
                                {{ object.object.id }}
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            {% if objects.haveToPaginate() %}
                {{ pagerfanta( objects, 'netgen_information_collection_admin' ) }}
            {% endif %}

            <div class="tags-btn-group">
                {#{% if can_delete %}#}
                <button type="submit" name="DeleteCollectionByCollectionIdAction" class="tags-btn" data-enabler="Tags">
                    {{ 'netgen_information_collection_admin_collection_delete'|trans }}
                </button>
                <button type="submit" name="AnonymizeCollectionByCollectionIdAction" class="tags-btn" data-enabler="Tags">
                    {{ 'netgen_information_collection_admin_collection_anonymize'|trans }}
                </button>
                {#{% endif %}#}
            </div>

        </form>
    {% else %}
        <p>{{ 'netgen_information_collection_admin_collection_no_collections'|trans }}</p>
    {% endif %}

{% endblock %}
