{# object \Netgen\Bundle\InformationCollectionBundle\API\Value\InformationCollection\Collection #}

{% trans_default_domain 'netgen_information_collection_admin' %}

{% extends netgen_information_collection_admin.pageLayoutTemplate %}

{% block content %}

    <a class="ng-ui-btn" href="{{ app.request.headers.get('referer') }}">
        <i class="md-icon">chevron_left</i> {{ 'netgen_information_collection_admin_back'|trans }}
    </a>

    {% include "@NetgenInformationCollection/admin/flash_messages.html.twig" %}

    <h1>{{ 'netgen_information_collection_admin_collection_list_title'|trans({'%content_name%': ez_content_name(content), '%count%': objects.count}) }}</h1>
    {% if objects is not empty %}

        {% set search_text = app.request.query.get('searchText', '') %}

        <form name="ic_export" method="get" action="{{ path('netgen_information_collection.route.admin.export', {'contentId':content.id}) }}">
            <div class="ng-ui-input">
                <input type="submit" value="{{ 'netgen_information_collection_admin_collection_export'|trans }}" class="ng-ui-btn">

                {% for formatter in formatters %}
                    <a href="{{ path('netgen_information_collection.route.admin.export_all', {'contentId':content.id, 'exportIdentifier': formatter.identifier}) }}" class="ng-ui-btn">
                        {% set formatter_button_label = 'netgen_information_collection_admin_export_type_' ~ formatter.identifier ~ '_label' %}
                        {{ formatter_button_label|trans }}
                    </a>
                {% endfor %}
            </div>
        </form>

        <form name="ic_search" method="get" action="{{ path('netgen_information_collection.route.admin.collection_list_search', {'contentId':content.id}) }}">
            <div class="ng-ui-btn-group">
                <div class="ng-ui-input">
                    <input id="collection-search" type="text" name="searchText" value="{{ search_text }}" placeholder="{{ 'netgen_information_collection_admin_collection_search_collections'|trans }}">
                </div>
                <input type="submit" value="{{ 'netgen_information_collection_admin_collection_search'|trans }}" class="ng-ui-btn">
            </div>
        </form>

        {% if search_text %}
            <p>
                {{ "netgen_information_collection_admin_collection_no_collections_results"|trans({"%count%": objects.count, "%text%": search_text }) }}
            </p>
        {% endif %}

        <form method="post" action="{{ path('netgen_information_collection.route.admin.handle_collection_list') }}">

            <div class="ng-ui-btn-group">
                <button type="submit" name="DeleteCollectionAction" class="ng-ui-btn" data-enabler="Item" disabled="disabled">
                    {{ 'netgen_information_collection_admin_collection_delete'|trans }}
                </button>
                <button type="submit" name="AnonymizeCollectionAction" class="ng-ui-btn" data-enabler="Item" disabled="disabled">
                    {{ 'netgen_information_collection_admin_collection_anonymize'|trans }}
                </button>
            </div>

            <input type="hidden" name="ContentId" value="{{ content.id }}">
            <table>
                <thead>
                <tr>
                    <th></th>
                    <th>{{ 'netgen_information_collection_admin_collection_creator'|trans }}</th>
                    <th>{{ 'netgen_information_collection_admin_collection_created'|trans }}</th>
                    <th>{{ 'netgen_information_collection_admin_collection_modified'|trans }}</th>
                    <th>{{ 'netgen_information_collection_admin_collection_collection_id'|trans }}</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for object in objects %}
                    {% set collection_id = object.entity.id %}
                    <tr>
                        <td>
                            <input data-enable="Item" id="{{ collection_id }}" name="CollectionId[]" value="{{ collection_id }}" title="{{ 'netgen_information_collection_admin_collection_select_for_removal'|trans }}." type="checkbox" data-enable="Item">
                            <label for="{{ collection_id }}">
                            </label>
                        </td>
                        <td>
                            {% if object.user is not empty %}
                                {{ ez_content_name(object.user.content) }}
                            {% else %}
                                {{ 'netgen_information_collection_admin_collection_unknown_user'|trans }}
                            {% endif %}
                        </td>
                        <td>
                            {{ object.entity.created|date("Y.m.d H:i") }}
                        </td>
                        <td>
                            {{ object.entity.modified|date("Y.m.d H:i") }}
                        </td>
                        <td class="number" align="right">
                            <a href="{{ path("netgen_information_collection.route.admin.view", {"contentId": content.id, "collectionId": collection_id}) }}">
                                {{ collection_id }}
                            </a>
                        </td>
                        <td>
                            <a href="{{ path("netgen_information_collection.route.admin.edit", {"collectionId": collection_id}) }}">
                                {{ 'netgen_information_collection_admin_collection_edit'|trans }}
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            {% if objects.haveToPaginate() %}
                {{ pagerfanta( objects, 'netgen_information_collection_admin' ) }}
            {% endif %}

        </form>
    {% else %}
        <p>{{ 'netgen_information_collection_admin_collection_no_collections'|trans }}</p>
    {% endif %}

{% endblock %}
