{% trans_default_domain 'netgen_information_collection_admin' %}

{% extends netgen_information_collection_admin.pageLayoutTemplate %}

{% block content %}
    {% include "@NetgenInformationCollection/admin/flash_messages.html.twig" %}

    <h1>{{ 'netgen_information_collection_admin_overview_title'|trans({'%count%': objects.count}) }}</h1>

    {% if objects is not empty %}
        <form method="post" action="{{ path('netgen_information_collection.route.admin.handle_contents') }}">
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th>{{ 'netgen_information_collection_admin_overview_content_name'|trans }}</th>
                        <th>{{ 'netgen_information_collection_admin_overview_content_type'|trans }}</th>
                        <th>{{ 'netgen_information_collection_admin_overview_first_collection'|trans }}</th>
                        <th>{{ 'netgen_information_collection_admin_overview_last_collection'|trans }}</th>
                        <th>{{ 'netgen_information_collection_admin_overview_collections'|trans }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for object in objects %}
                        <tr>
                            <td>
                                <input id="{{ object.contentobject_id }}_id" name="ContentId[]" value="{{ object.contentobject_id }}" title="Select collections for removal." type="checkbox">
                                <label for="{{ object.contentobject_id }}_id">
                                </label>
                            </td>
                            <td>
                                <img src="{{ asset('bundles/netgeninformationcollection/admin/images/Document.png') }}" alt="section" title="section" width="16" height="16">
                                &nbsp;
                                <a href="/content/view/full/{{ object.main_node_id }}">
                                    {{ object.name }}
                                </a>
                            </td>
                            <td>
                                {{ object.class_name }}
                            </td>
                            <td>
                                {{ object.first_collection.created|date("Y.m.d H:i") }}
                            </td>
                            <td>
                                {{ object.last_collection.created|date("Y.m.d H:i") }}
                            </td>
                            <td class="number" align="right">
                                <a href="{{ path("netgen_information_collection.route.admin.collection_list", {"contentId": object.contentobject_id}) }}">
                                    {{ object.collections }}
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            {% if objects.haveToPaginate() %}
                {{ pagerfanta( objects, 'netgen_information_collection_admin' ) }}
            {% endif %}

            <div class="ic-btn-group">
                <button type="submit" name="DeleteCollectionByContentIdAction" class="ic-btn" data-enabler="ic">
                    {{ 'netgen_information_collection_admin_overview_delete'|trans }}
                </button>
            </div>

        </form>
    {% else %}
        <p>{{ 'netgen_information_collection_admin_overview_no_objects'|trans }}</p>
    {% endif %}

{% endblock %}
