{% trans_default_domain 'netgen_information_collection_admin' %}

{% extends netgen_information_collection_admin.pageLayoutTemplate %}

{% block content %}

    {% include "@NetgenInformationCollection/admin/flash_messages.html.twig" %}

    <a class="ic-btn" href="{{ app.request.headers.get('referer') }}">
        {{ 'netgen_information_collection_admin_back'|trans }}
    </a>

    <h1>{{ 'netgen_information_collection_admin_view_title'|trans({'%collection_id%': collection.id, '%content_name%': ez_content_name(content)}) }}</h1>
    <h6>{{ 'netgen_information_collection_admin_view_subtitle'|trans({'%date%': collection.modified|date("Y.m.d H:i"), '%user_name%': user.name}) }}</h6>

    <form method="post" action="{{ path('netgen_information_collection.route.admin.handle_collection') }}">

        <input type="hidden" value="{{ collection.id }}" name="CollectionId">
        <input type="hidden" value="{{ content.id }}" name="ContentId">

        {% for object in objects %}

            <span>
                <input id="{{ object.field.id }}" name="FieldId[]" value="{{ object.field.id }}" title="Select collections for removal." type="checkbox">
                <label for="{{ object.field.id }}">
                </label>
            </span>
            <label>{{ ez_field_name(content, object.field.identifier) }}:</label>
            <span class="attribute">
                {{ object.object.value }}
            </span>
            <hr>

        {% endfor %}

        <div class="ic-btn-group">
            <button type="submit" name="DeleteFieldAction" class="tags-btn" data-enabler="Tags">{{ 'netgen_information_collection_admin_view_delete_field'|trans }}</button>
            <button type="submit" name="AnonymizeFieldAction" class="tags-btn" data-enabler="Tags">{{ 'netgen_information_collection_admin_view_anonymize_field'|trans }}</button>

            <button type="submit" name="DeleteCollectionAction" class="tags-btn" data-enabler="Tags">{{ 'netgen_information_collection_admin_view_delete'|trans }}</button>
            <button type="submit" name="AnonymizeCollectionAction" class="tags-btn" data-enabler="Tags">{{ 'netgen_information_collection_admin_view_anonymize'|trans }}</button>
        </div>

    </form>

{% endblock %}
