{% trans_default_domain 'netgen_information_collection_admin' %}

{% extends netgen_information_collection_admin.pageLayoutTemplate %}

{% block content %}

    <a class="ng-ui-btn" href="{{ app.request.headers.get('referer') }}">
        <i class="md-icon">chevron_left</i> {{ 'netgen_information_collection_admin_back'|trans }}
    </a>

    {% include "@NetgenInformationCollection/admin/flash_messages.html.twig" %}

    <h1>{{ 'netgen_information_collection_admin_view_title'|trans({'%collection_id%': collection.id, '%content_name%': ez_content_name(collection.content)}) }}</h1>
    <h6>{{ 'netgen_information_collection_admin_view_subtitle'|trans({'%date%': collection.modified|date("Y.m.d H:i"), '%user_name%': ez_content_name(collection.creator.content)}) }}</h6>

    <form method="post" action="{{ path('netgen_information_collection.route.admin.handle_collection') }}">

        <div class="ng-ui-btn-group mb-3">
            <button type="submit" name="DeleteFieldAction" class="ng-ui-btn" data-enabler="Item">{{ 'netgen_information_collection_admin_view_delete_field'|trans }}</button>
            <button type="submit" name="AnonymizeFieldAction" class="ng-ui-btn" data-enabler="Item">{{ 'netgen_information_collection_admin_view_anonymize_field'|trans }}</button>

            <button type="submit" name="DeleteCollectionAction" class="ng-ui-btn">{{ 'netgen_information_collection_admin_view_delete'|trans }}</button>
            <button type="submit" name="AnonymizeCollectionAction" class="ng-ui-btn">{{ 'netgen_information_collection_admin_view_anonymize'|trans }}</button>
        </div>

        <input type="hidden" value="{{ collection.id }}" name="CollectionId">
        <input type="hidden" value="{{ collection.content.id }}" name="ContentId">

        {% for attribute in collection.attributes %}
            <div class="list-object list-object-divider">
                <div class="ng-ui-input">
                    <input id="{{ attribute.field.id }}" name="FieldId[]" value="{{ attribute.field.id }}" title="Select collections for removal." type="checkbox" data-enable="Item">
                    <label for="{{ attribute.field.id }}">
                        <span class="attribute-name">
                            {{ ez_field_name(content, attribute.field.fieldDefIdentifier) }}:
                        </span>
                        <span class="attribute-value">
                            {{ info_collection_render_field(collection, attribute) }}
                        </span>
                    </label>
                </div>
            </div>
        {% endfor %}

    </form>

{% endblock %}
